.TodoItem {
    display: flex;
    align-items: center;
    padding: 5px;
}


.TodoItem-p {

    background: rgba(142, 139, 139, 0.46);
    align-items: center;
    margin: 24px 24px 24px 24px;
    width: calc(85% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
    font-family:cursive;
    font-weight: bold;
}

.TodoItem-p--completed {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px; /* para ajustar el valor segun preferencia */
    text-decoration-color: #fbca18; /* color de la decoracion */

}