.TodoItem {
    display: flex;
    align-items: center;
    padding: 5px;
}


.TodoItem-p {

    background: rgba(200, 200, 200, 0.3);
    align-items: center;
    margin: 24px 24px 24px 24px;
    width: calc(85% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TodoItem-p--completed {
    text-decoration: line-through;

}