
p {
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-weight: 200;
    position: relative;
    display: flex;
    width: 85%;
    padding: 10px;
    border: 2px solid brown;
    overflow: hidden; /* cualquier contenido que se extienda mas allá de los límites del elemento contenedor se ocultará y no será visible para el usuario. */
    transition: color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center; 
}

p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(50, 159, 255));
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

p:hover {
    color: white;
    transform: scale(1.1);
}

p:hover::before {
    transform: scaleX(1);
    animation: slide 1s linear infinite;
}

@keyframes slide {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
