form {
width: 90%;
max-width: 300px;
background-color: #507eb5;
padding: 33px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 50px;

}
label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1f;
    margin-bottom: 26px;
}

textarea {
    background-color: aliceblue;
    border: 2px solid #202329;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1e1e1f;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
    margin-bottom: 5px;

}
textarea::placeholder {
    color: #a5a5a5;
    font-family:'Times New Roman', Times, serif,
}

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.TodoForm-button {
cursor: pointer;
display: inline-block;
font-size: 20px;
color: #97dbea;
font-weight: 120px;
width: 120px;
height: 48px;
border-radius: 5px;
border: none;
font-family: 'Times New Roman', Times, serif;
}
.TodoForm-button--add {
    background-color: #89B0C2;
    box-shadow: 0px 5px 25px rgba(97,218,250,0.5);
    border-radius: 5px;
}
.TodoForm-button--cancel {
    background-color: transparent;
    border-radius: 5px;
}
.FormContainer {
    background-color: aqua;
}