form {
width: 90%;
max-width: 300px;
background-color: #EABB7E;
padding: 33px 58px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 50px;

}
label {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #080808;
    margin-bottom: 26px;
    font-family:sans-serif;
}

textarea {
    background-color: aliceblue;
    border: 7px solid #B4B4B3;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #000000;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: 100%;
    margin-bottom: 5px;
    font-family:sans-serif;
    font-weight: bold;
    max-height: 96px;

}
textarea::placeholder {
    color: #a5a5a5;
    font-family:sans-serif;
    font-weight: bolder;
}
    

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
cursor: pointer;
display: inline-block;
font-size: 20px;
color: #97dbea;
font-weight: 120px;
width: 120px;
height: 48px;
border-radius: 5px;
border: none;
font-family: sans-serif;
}

.TodoForm-button--add {
    background-color: #89B0C2;
    box-shadow: 0px 5px 25px rgba(97,218,250,0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 40%;
}

.TodoForm-button--add:hover {
    background-color: #61CCFF; 
}

.TodoForm-button--cancel {
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 40%;

}

.TodoForm-button--cancel:hover {
    background-color: #da5858; 
}

.FormContainer {
    background-color: #B4B4B3;
    border-radius: 8px;
}
