.CreateTodoButton {
    background-color: #151616;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 60px;
    position: fixed;
    bottom: 15%;
    right: 40%;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    transition: .4s ease;
}

/* le agrego el transform rotate para que gire */
.CreateTodoButton:hover {
    transform: rotate(360deg);
}

.buttonAdd {
    justify-content: center;
    margin-left: 15%;
}