.CreateTodoButton {
    background-color: #61DAFA;;
    /* box-shadow: 0px 5px 25px rgba(97, 250, 194, 0.5); */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 60px;
    position: fixed;
    bottom: 15%;
    right: 40%;
    font-weight: bold;
    color: #FAFAFA ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    transition: .4s ease;
}

/* le agrego el transform rotate para que gire */
.CreateTodoButton:hover {
    transform:  rotate(360deg );
}