
.titleTodo h1 {
    color: #fdf006;; /* Cambia este valor para elegir tu propio color */
    font-size: 34px; /* Tamaño de fuente */
    font-family: 'Helvetica Neue', sans-serif; /* Tipo de fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    text-align: center; /* Alineación del texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 15px; /* Espacio inferior */
    text-shadow: -17px 20px 2px rgb(255 252 252 / 22%);
    padding-right: 5%;
    padding-top: 10%;

}

.TodoCounter {
    font-size: 34px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 10%;
}


.TodoCounter span {
    font-weight: bold;
    margin: 0 0.5rem;
}
@media (max-width: 768px) {
    .TodoCounter {
       text-align: center;
       font-size:24px ;
    }
}
