.TodoCounter {
    display: flex;
    font-size: 34px;
    text-align: center;
    margin: 0;
    margin-left: 25px;
    padding: 10px;
    font-weight: normal;
    color: #444242 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.TodoCounter span {
    font-weight: bold;
    margin: 0 0.5rem;
    color: #e02121;
}